//  Colours
$white: #fff;
$blue: #00a8e0;
$backgroundColor: #00a8e0;
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: none;
}

@font-face {
    font-family: 'SSTPro-Medium';
    src: url('../fonts/SSTPro-Medium.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'SSTPro-Bold';
    src: url('../fonts/SSTPro-Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'SSTPro-Roman';
    src: url('../fonts/SSTPro-Roman.woff') format('woff');
    font-style: normal;
}