    @import '_settings';
    @import '_config';
    @import '_mixins';
    body {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    #mainContent {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transform: rotate(0deg);
        border: 1px solid black;
        background-size: cover;
        box-sizing: border-box;
        font-family: 'SSTPro-Medium';
        color: white;
        background: $white;
        div,
        img {
            position: absolute;
        }
    }
    
    .hide {
        opacity: 0;
    }
    
    #blueBg {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $blue;
    }
    
    .sonyLogo {
        top: 40px;
        left: 279px;
    }
    
    #sonyLogoBlack {
        opacity: 0;
    }
    
    #copyOne {
        font-size: 80px;
        line-height: 0.8;
        width: 80%;
        top: 250px;
        left: 60px;
        text-transform: uppercase;
        z-index: 1;
    }
    
    .copy {
        font-family: 'SSTPro-Roman';
        font-size: 75px;
        line-height: 0.8;
        width: 80%;
        top: 110px;
        left: 100px;
        color: $blue;
        span {
            display: block;
            transform: translateY(50px);
            opacity: 0;
        }
        .lineTwo {
            margin-top: 60px;
            font-family: 'SSTPro-Bold';
            text-transform: uppercase;
            line-height: 0.8;
        }
    }
    
    .img {
        bottom: 0;
        right: 0;
        transform: translateX(100%);
    }
    
    #frameThreeImg {
        transform: scale(0.7);
        left: -230px;
        top: -128px;
    }
    
    .imageContainer {
        width: 100%;
        height: 50%;
        bottom: 0;
        overflow: hidden;
        transform: translateX(100%);
    }
    
    #endFrameCopyContainer {
        color: $white;
        background: $blue;
        height: 50%;
        width: 100%;
        opacity: 0;
    }
    
    #endFrameCopy {
        font-family: 'SSTPro-Medium';
        font-size: 77px;
        line-height: .9;
        width: 70%;
        left: 19%;
        top: 20%;
        span {
            display: block;
            transform: translateY(50px);
            opacity: 0;
        }
        span:nth-of-type(2) {
            margin-top: 40px;
        }
    }
    
    #endFrameTagline {
        left: 19%;
        bottom: 20px;
        font-size: 21px;
        letter-spacing: -1.3px;
        text-transform: uppercase;
    }
    
    #endFrameImg {
        width: 100%;
        height: 50%;
        bottom: 0;
        background: $white;
        opacity: 1;
        overflow: hidden;
        transform: translateX(100%);
    }
    
    #cta {
        font-family: 'SSTPro-Bold';
        font-size: 26px;
        text-transform: uppercase;
        background: $blue;
        bottom: 20px;
        width: 342px;
        height: 50px;
        left: 50%;
        margin-left: -171px;
        p {
            margin: 0;
            padding: 7px 19px;
        }
    }
    
    ////
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        /* For landscape layouts only */
        .sonyLogo {
            top: 40px;
            left: 50px;
        }
        #copyOne {
            left: 50px;
            top: 150px;
            font-size: 104px;
            line-height: 0.9;
        }
        .copy {
            font-size: 71px;
            line-height: 0.8;
            width: 50%;
            top: 160px;
            left: 50px;
            .lineTwo {
                margin-top: 60px;
                line-height: 0.9;
            }
        }
        #frameTwoImg {
            bottom: 50px;
            right: -100px;
            transform: scale(0.98);
            transform: translateX(100%);
        }
        .imageContainer {
            width: 41%;
            height: 100%;
            bottom: 0;
            overflow: hidden;
            right: 0;
            transform: translateX(100%);
        }
        #frameThreeImg {
            transform: scale(1);
            left: -230px;
            top: -28px;
        }
        #endFrameCopyContainer {
            width: 59%;
            height: 100%;
            left: 0;
            opacity: 0;
        }
        #endFrameImg {
            width: 41%;
            height: 100%;
            bottom: 0;
            overflow: hidden;
            right: 0;
            background: $white;
            overflow: hidden;
            transform: translateX(100%);
            img {
                bottom: 50px;
                right: -150px;
                transform: scale(0.90);
            }
        }
        #endFrameCopy {
            left: 10%;
        }
        #cta {
            left: 80%;
        }
        #endFrameTagline {
            left: 10%;
            bottom: 20px;
        }
    }